<ion-view view-title="Account" >
  <ion-content>
    <ion-list>
        <ion-toggle ng-model="settings.enableFriends">
            Enable Friends
        </ion-toggle>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="settings.username" ng-change="saveSetting('username', settings.username)">
        </label>
        <div ng-hide="!settings.username">
          <label class="item">
            If a username is given, all settings are taken from the user account online.
          </label>
        </div>
        <div ng-hide="settings.username">
          <label class="item item-input item-select">
            <div class="input-label">Language Namespace</div>
            <select ng-model="settings.language_namespace" ng-change="saveSetting('language_namespace', settings.language_namespace)">
<option value="aa">Afar (aa)</option>
<option value="ab">Abkhazian (ab)</option>
<option value="ae">Avestan (ae)</option>
<option value="af">Afrikaans (af)</option>
<option value="ak">Akan (ak)</option>
<option value="am">Amharic (am)</option>
<option value="ar">Arabic (ar)</option>
<option value="as">Assamese (as)</option>
<option value="av">Avar (av)</option>
<option value="ay">Aymara (ay)</option>
<option value="az">Azerbaijani (az)</option>
<option value="ba">Bashkir (ba)</option>
<option value="be">Belarusian (be)</option>
<option value="bg">Bulgarian (bg)</option>
<option value="bh">Bihari (bh)</option>
<option value="bi">Bislama (bi)</option>
<option value="bm">Bambara (bm)</option>
<option value="bn">Bengali (bn)</option>
<option value="bo">Tibetan (bo)</option>
<option value="br">Breton (br)</option>
<option value="bs">Bosnian (bs)</option>
<option value="ca">Catalan (ca)</option>
<option value="ce">Chechen (ce)</option>
<option value="ch">Chamorro (ch)</option>
<option value="co">Corsican (co)</option>
<option value="cr">Cree (cr)</option>
<option value="cs">Czech (cs)</option>
<option value="cu">Old Slavonic (cu)</option>
<option value="cv">Chuvash (cv)</option>
<option value="cy">Welsh (cy)</option>
<option value="da">Danish (da)</option>
<option value="de">German (de)</option>
<option value="dv">Maldivian (dv)</option>
<option value="dz">Bhutani (dz)</option>
<option value="ee">Ewe (ee)</option>
<option value="el">Greek (el)</option>
<option value="en">English (en)</option>
<option value="eo">Esperanto (eo)</option>
<option value="es">Spanish (es)</option>
<option value="et">Estonian (et)</option>
<option value="eu">Basque (eu)</option>
<option value="fa">Persian (fa)</option>
<option value="ff">Fulah (ff)</option>
<option value="fi">Finnish (fi)</option>
<option value="fj">Fiji (fj)</option>
<option value="fo">Faeroese (fo)</option>
<option value="fr">French (fr)</option>
<option value="fy">Frisian (fy)</option>
<option value="ga">Irish (ga)</option>
<option value="gd">Scots Gaelic (gd)</option>
<option value="gl">Galician (gl)</option>
<option value="gn">Guarani (gn)</option>
<option value="gu">Gujarati (gu)</option>
<option value="gv">Manx (gv)</option>
<option value="ha">Hausa (ha)</option>
<option value="he">Hebrew (he)</option>
<option value="hi">Hindi (hi)</option>
<option value="ho">Hiri Motu (ho)</option>
<option value="hr">Croatian (hr)</option>
<option value="ht">Haitian Creole (ht)</option>
<option value="hu">Hungarian (hu)</option>
<option value="hy">Armenian (hy)</option>
<option value="hz">Herero (hz)</option>
<option value="ia">Interlingua (ia)</option>
<option value="id">Indonesian (id)</option>
<option value="ie">Interlingue (ie)</option>
<option value="ig">Igbo (ig)</option>
<option value="ik">Inupiak (ik)</option>
<option value="is">Icelandic (is)</option>
<option value="it">Italian (it)</option>
<option value="iu">Inuktitut (iu)</option>
<option value="ja">Japanese (ja)</option>
<option value="jv">Javanese (jv)</option>
<option value="ka">Georgian (ka)</option>
<option value="kg">Kongo (kg)</option>
<option value="ki">Kikuyu (ki)</option>
<option value="kj">Kwanyama (kj)</option>
<option value="kk">Kazakh (kk)</option>
<option value="kl">Greenlandic (kl)</option>
<option value="km">Cambodian (km)</option>
<option value="kn">Kannada (kn)</option>
<option value="ko">Korean (ko)</option>
<option value="kr">Kanuri (kr)</option>
<option value="ks">Kashmiri (ks)</option>
<option value="ku">Kurdish (ku)</option>
<option value="kv">Komi (kv)</option>
<option value="kw">Cornish (kw)</option>
<option value="ky">Kyrgyz (ky)</option>
<option value="la">Latin (la)</option>
<option value="lb">Luxembourgish (lb)</option>
<option value="lg">Luganda (lg)</option>
<option value="ln">Lingala (ln)</option>
<option value="lo">Laothian (lo)</option>
<option value="lt">Lithuanian (lt)</option>
<option value="lv">Latvian (lv)</option>
<option value="mg">Malagasy (mg)</option>
<option value="mh">Marshallese (mh)</option>
<option value="mi">Māori (mi)</option>
<option value="mk">Macedonian (mk)</option>
<option value="ml">Malayalam (ml)</option>
<option value="mn">Mongolian (mn)</option>
<option value="mo">Moldavian (mo)</option>
<option value="mr">Marathi (mr)</option>
<option value="ms">Malay (ms)</option>
<option value="mt">Maltese (mt)</option>
<option value="my">Burmese (my)</option>
<option value="na">Nauru (na)</option>
<option value="nd">North Ndebele (nd)</option>
<option value="ne">Nepali (ne)</option>
<option value="ng">Ndonga (ng)</option>
<option value="nl">Dutch (nl)</option>
<option value="nb">Norwegian Bokmål (nb)</option>
<option value="nn">Norwegian Nynorsk (nn)</option>
<option value="nr">South Ndebele (nr)</option>
<option value="nv">Navajo (nv)</option>
<option value="ny">Chichewa (ny)</option>
<option value="oc">Occitan (oc)</option>
<option value="om">Oromo (om)</option>
<option value="or">Oriya (or)</option>
<option value="os">Ossetian (os)</option>
<option value="pa">Punjabi (pa)</option>
<option value="pi">Pali (pi)</option>
<option value="pl">Polish (pl)</option>
<option value="ps">Pashto (ps)</option>
<option value="pt">Portuguese, International (pt)</option>
<option value="qu">Quechua (qu)</option>
<option value="rm">Rhaeto-Romance (rm)</option>
<option value="rn">Kirundi (rn)</option>
<option value="ro">Romanian (ro)</option>
<option value="ru">Russian (ru)</option>
<option value="rw">Kinyarwanda (rw)</option>
<option value="sa">Sanskrit (sa)</option>
<option value="sc">Sardinian (sc)</option>
<option value="sd">Sindhi (sd)</option>
<option value="se">Northern Sami (se)</option>
<option value="sg">Sango (sg)</option>
<option value="sh">Serbo-Croatian (sh)</option>
<option value="si">Sinhala (si)</option>
<option value="sk">Slovak (sk)</option>
<option value="sl">Slovenian (sl)</option>
<option value="sm">Samoan (sm)</option>
<option value="sn">Shona (sn)</option>
<option value="so">Somali (so)</option>
<option value="sq">Albanian (sq)</option>
<option value="sr">Serbian (sr)</option>
<option value="ss">Siswati (ss)</option>
<option value="st">Sesotho (st)</option>
<option value="su">Sudanese (su)</option>
<option value="sv">Swedish (sv)</option>
<option value="sw">Swahili (sw)</option>
<option value="ta">Tamil (ta)</option>
<option value="te">Telugu (te)</option>
<option value="tg">Tajik (tg)</option>
<option value="th">Thai (th)</option>
<option value="ti">Tigrinya (ti)</option>
<option value="tk">Turkmen (tk)</option>
<option value="tl">Tagalog (tl)</option>
<option value="tn">Setswana (tn)</option>
<option value="to">Tonga (to)</option>
<option value="tr">Turkish (tr)</option>
<option value="ts">Tsonga (ts)</option>
<option value="tt">Tatar (tt)</option>
<option value="tw">Twi (tw)</option>
<option value="ty">Tahitian (ty)</option>
<option value="ug">Uighur (ug)</option>
<option value="uk">Ukrainian (uk)</option>
<option value="ur">Urdu (ur)</option>
<option value="uz">Uzbek (uz)</option>
<option value="ve">Venda (ve)</option>
<option value="vi">Vietnamese (vi)</option>
<option value="wo">Wolof (wo)</option>
<option value="xh">Xhosa (xh)</option>
<option value="yi">Yiddish (yi)</option>
<option value="yo">Yoruba (yo)</option>
<option value="za">Zhuang (za)</option>
<option value="zu">Zulu (zu)</option>
            </select>
          </label>
        </div>
        <div ng-hide="settings.username">
          <label class="item item-input item-select">
            <div class="input-label">Country Namespace</div>
            <select ng-model="settings.country_namespace" ng-change="saveSetting('country_namespace', settings.country_namespace)">
<option value="abw">Aruba (abw)</option>
<option value="afg">Afghanistan (afg)</option>
<option value="ago">Angola (ago)</option>
<option value="aia">Anguilla (aia)</option>
<option value="ala">Åland Islands (ala)</option>
<option value="alb">Albania (alb)</option>
<option value="and">Andorra (and)</option>
<option value="are">United Arab Emirates (are)</option>
<option value="arg">Argentina (arg)</option>
<option value="arm">Armenia (arm)</option>
<option value="asm">American Samoa (asm)</option>
<option value="ata">Antarctica (ata)</option>
<option value="atf">French Southern Territories (atf)</option>
<option value="atg">Antigua and Barbuda (atg)</option>
<option value="aus">Australia (aus)</option>
<option value="aut">Austria (aut)</option>
<option value="aze">Azerbaijan (aze)</option>
<option value="bdi">Burundi (bdi)</option>
<option value="bel">Belgium (bel)</option>
<option value="ben">Benin (ben)</option>
<option value="bes">Bonaire, Sint Eustatius and Saba (bes)</option>
<option value="bfa">Burkina Faso (bfa)</option>
<option value="bgd">Bangladesh (bgd)</option>
<option value="bgr">Bulgaria (bgr)</option>
<option value="bhr">Bahrain (bhr)</option>
<option value="bhs">Bahamas (bhs)</option>
<option value="bih">Bosnia and Herzegovina (bih)</option>
<option value="blm">Saint Barthélemy (blm)</option>
<option value="blr">Belarus (blr)</option>
<option value="blz">Belize (blz)</option>
<option value="bmu">Bermuda (bmu)</option>
<option value="bol">Bolivia, Plurinational State of (bol)</option>
<option value="bra">Brazil (bra)</option>
<option value="brb">Barbados (brb)</option>
<option value="brn">Brunei Darussalam (brn)</option>
<option value="btn">Bhutan (btn)</option>
<option value="bvt">Bouvet Island (bvt)</option>
<option value="bwa">Botswana (bwa)</option>
<option value="caf">Central African Republic (caf)</option>
<option value="can">Canada (can)</option>
<option value="cck">Cocos (Keeling) Islands (cck)</option>
<option value="che">Switzerland (che)</option>
<option value="chl">Chile (chl)</option>
<option value="chn">China (chn)</option>
<option value="civ">Côte d'Ivoire (civ)</option>
<option value="cmr">Cameroon (cmr)</option>
<option value="cod">Congo, the Democratic Republic of the (cod)</option>
<option value="cog">Congo (cog)</option>
<option value="cok">Cook Islands (cok)</option>
<option value="col">Colombia (col)</option>
<option value="com">Comoros (com)</option>
<option value="cpv">Cape Verde (cpv)</option>
<option value="cri">Costa Rica (cri)</option>
<option value="cub">Cuba (cub)</option>
<option value="cuw">Curaçao (cuw)</option>
<option value="cxr">Christmas Island (cxr)</option>
<option value="cym">Cayman Islands (cym)</option>
<option value="cyp">Cyprus (cyp)</option>
<option value="cze">Czech Republic (cze)</option>
<option value="deu">Germany (deu)</option>
<option value="dji">Djibouti (dji)</option>
<option value="dma">Dominica (dma)</option>
<option value="dnk">Denmark (dnk)</option>
<option value="dom">Dominican Republic (dom)</option>
<option value="dza">Algeria (dza)</option>
<option value="ecu">Ecuador (ecu)</option>
<option value="egy">Egypt (egy)</option>
<option value="eri">Eritrea (eri)</option>
<option value="esh">Western Sahara (esh)</option>
<option value="esp">Spain (esp)</option>
<option value="est">Estonia (est)</option>
<option value="eth">Ethiopia (eth)</option>
<option value="fin">Finland (fin)</option>
<option value="fji">Fiji (fji)</option>
<option value="flk">Falkland Islands (Malvinas) (flk)</option>
<option value="fra">France (fra)</option>
<option value="fro">Faroe Islands (fro)</option>
<option value="fsm">Micronesia, Federated States of (fsm)</option>
<option value="gab">Gabon (gab)</option>
<option value="gbr">United Kingdom (gbr)</option>
<option value="geo">Georgia (geo)</option>
<option value="ggy">Guernsey (ggy)</option>
<option value="gha">Ghana (gha)</option>
<option value="gib">Gibraltar (gib)</option>
<option value="gin">Guinea (gin)</option>
<option value="glp">Guadeloupe (glp)</option>
<option value="gmb">Gambia (gmb)</option>
<option value="gnb">Guinea-Bissau (gnb)</option>
<option value="gnq">Equatorial Guinea (gnq)</option>
<option value="grc">Greece (grc)</option>
<option value="grd">Grenada (grd)</option>
<option value="grl">Greenland (grl)</option>
<option value="gtm">Guatemala (gtm)</option>
<option value="guf">French Guiana (guf)</option>
<option value="gum">Guam (gum)</option>
<option value="guy">Guyana (guy)</option>
<option value="hkg">Hong Kong (hkg)</option>
<option value="hmd">Heard Island and McDonald Islands (hmd)</option>
<option value="hnd">Honduras (hnd)</option>
<option value="hrv">Croatia (hrv)</option>
<option value="hti">Haiti (hti)</option>
<option value="hun">Hungary (hun)</option>
<option value="idn">Indonesia (idn)</option>
<option value="imn">Isle of Man (imn)</option>
<option value="ind">India (ind)</option>
<option value="iot">British Indian Ocean Territory (iot)</option>
<option value="irl">Ireland (irl)</option>
<option value="irn">Iran, Islamic Republic of (irn)</option>
<option value="irq">Iraq (irq)</option>
<option value="isl">Iceland (isl)</option>
<option value="isr">Israel (isr)</option>
<option value="ita">Italy (ita)</option>
<option value="jam">Jamaica (jam)</option>
<option value="jey">Jersey (jey)</option>
<option value="jor">Jordan (jor)</option>
<option value="jpn">Japan (jpn)</option>
<option value="kaz">Kazakhstan (kaz)</option>
<option value="ken">Kenya (ken)</option>
<option value="kgz">Kyrgyzstan (kgz)</option>
<option value="khm">Cambodia (khm)</option>
<option value="kir">Kiribati (kir)</option>
<option value="kna">Saint Kitts and Nevis (kna)</option>
<option value="kor">Korea, Republic of (kor)</option>
<option value="kwt">Kuwait (kwt)</option>
<option value="lao">Lao People's Democratic Republic (lao)</option>
<option value="lbn">Lebanon (lbn)</option>
<option value="lbr">Liberia (lbr)</option>
<option value="lby">Libya (lby)</option>
<option value="lca">Saint Lucia (lca)</option>
<option value="lie">Liechtenstein (lie)</option>
<option value="lka">Sri Lanka (lka)</option>
<option value="lso">Lesotho (lso)</option>
<option value="ltu">Lithuania (ltu)</option>
<option value="lux">Luxembourg (lux)</option>
<option value="lva">Latvia (lva)</option>
<option value="mac">Macao (mac)</option>
<option value="maf">Saint Martin (French part) (maf)</option>
<option value="mar">Morocco (mar)</option>
<option value="mco">Monaco (mco)</option>
<option value="mda">Moldova, Republic of (mda)</option>
<option value="mdg">Madagascar (mdg)</option>
<option value="mdv">Maldives (mdv)</option>
<option value="mex">Mexico (mex)</option>
<option value="mhl">Marshall Islands (mhl)</option>
<option value="mkd">Macedonia, the former Yugoslav Republic of (mkd)</option>
<option value="mli">Mali (mli)</option>
<option value="mlt">Malta (mlt)</option>
<option value="mmr">Myanmar (mmr)</option>
<option value="mne">Montenegro (mne)</option>
<option value="mng">Mongolia (mng)</option>
<option value="mnp">Northern Mariana Islands (mnp)</option>
<option value="moz">Mozambique (moz)</option>
<option value="mrt">Mauritania (mrt)</option>
<option value="msr">Montserrat (msr)</option>
<option value="mtq">Martinique (mtq)</option>
<option value="mus">Mauritius (mus)</option>
<option value="mwi">Malawi (mwi)</option>
<option value="mys">Malaysia (mys)</option>
<option value="myt">Mayotte (myt)</option>
<option value="nam">Namibia (nam)</option>
<option value="ncl">New Caledonia (ncl)</option>
<option value="ner">Niger (ner)</option>
<option value="nfk">Norfolk Island (nfk)</option>
<option value="nga">Nigeria (nga)</option>
<option value="nic">Nicaragua (nic)</option>
<option value="niu">Niue (niu)</option>
<option value="nld">Netherlands (nld)</option>
<option value="nor">Norway (nor)</option>
<option value="npl">Nepal (npl)</option>
<option value="nru">Nauru (nru)</option>
<option value="nzl">New Zealand (nzl)</option>
<option value="omn">Oman (omn)</option>
<option value="pak">Pakistan (pak)</option>
<option value="pan">Panama (pan)</option>
<option value="pcn">Pitcairn (pcn)</option>
<option value="per">Peru (per)</option>
<option value="phl">Philippines (phl)</option>
<option value="plw">Palau (plw)</option>
<option value="png">Papua New Guinea (png)</option>
<option value="pol">Poland (pol)</option>
<option value="pri">Puerto Rico (pri)</option>
<option value="prk">Korea, Democratic People's Republic of (prk)</option>
<option value="prt">Portugal (prt)</option>
<option value="pry">Paraguay (pry)</option>
<option value="pse">Palestinian Territory, Occupied (pse)</option>
<option value="pyf">French Polynesia (pyf)</option>
<option value="qat">Qatar (qat)</option>
<option value="reu">Réunion (reu)</option>
<option value="rou">Romania (rou)</option>
<option value="rus">Russian Federation (rus)</option>
<option value="rwa">Rwanda (rwa)</option>
<option value="sau">Saudi Arabia (sau)</option>
<option value="sdn">Sudan (sdn)</option>
<option value="sen">Senegal (sen)</option>
<option value="sgp">Singapore (sgp)</option>
<option value="sgs">South Georgia and the South Sandwich Islands (sgs)</option>
<option value="shn">Saint Helena, Ascension and Tristan da Cunha (shn)</option>
<option value="sjm">Svalbard and Jan Mayen (sjm)</option>
<option value="slb">Solomon Islands (slb)</option>
<option value="sle">Sierra Leone (sle)</option>
<option value="slv">El Salvador (slv)</option>
<option value="smr">San Marino (smr)</option>
<option value="som">Somalia (som)</option>
<option value="spm">Saint Pierre and Miquelon (spm)</option>
<option value="srb">Serbia (srb)</option>
<option value="ssd">South Sudan (ssd)</option>
<option value="stp">Sao Tome and Principe (stp)</option>
<option value="sur">Suriname (sur)</option>
<option value="svk">Slovakia (svk)</option>
<option value="svn">Slovenia (svn)</option>
<option value="swe">Sweden (swe)</option>
<option value="swz">Swaziland (swz)</option>
<option value="sxm">Sint Maarten (Dutch part) (sxm)</option>
<option value="syc">Seychelles (syc)</option>
<option value="syr">Syrian Arab Republic (syr)</option>
<option value="tca">Turks and Caicos Islands (tca)</option>
<option value="tcd">Chad (tcd)</option>
<option value="tgo">Togo (tgo)</option>
<option value="tha">Thailand (tha)</option>
<option value="tjk">Tajikistan (tjk)</option>
<option value="tkl">Tokelau (tkl)</option>
<option value="tkm">Turkmenistan (tkm)</option>
<option value="tls">Timor-Leste (tls)</option>
<option value="ton">Tonga (ton)</option>
<option value="tto">Trinidad and Tobago (tto)</option>
<option value="tun">Tunisia (tun)</option>
<option value="tur">Turkey (tur)</option>
<option value="tuv">Tuvalu (tuv)</option>
<option value="twn">Taiwan, Province of China (twn)</option>
<option value="tza">Tanzania, United Republic of (tza)</option>
<option value="uga">Uganda (uga)</option>
<option value="ukr">Ukraine (ukr)</option>
<option value="umi">United States Minor Outlying Islands (umi)</option>
<option value="ury">Uruguay (ury)</option>
<option value="usa">United States (usa)</option>
<option value="uzb">Uzbekistan (uzb)</option>
<option value="vat">Holy See (Vatican City State) (vat)</option>
<option value="vct">Saint Vincent and the Grenadines (vct)</option>
<option value="ven">Venezuela, Bolivarian Republic of (ven)</option>
<option value="vgb">Virgin Islands, British (vgb)</option>
<option value="vir">Virgin Islands, U.S. (vir)</option>
<option value="vnm">Viet Nam (vnm)</option>
<option value="vut">Vanuatu (vut)</option>
<option value="wlf">Wallis and Futuna (wlf)</option>
<option value="wsm">Samoa (wsm)</option>
<option value="yem">Yemen (yem)</option>
<option value="zaf">South Africa (zaf)</option>
<option value="zmb">Zambia (zmb)</option>
<option value="zwe">Zimbabwe (zwe)</option>
            </select>
          </label>
        </div>
        <div ng-hide="settings.username">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Custom namespaces</span>
            <input type="text" ng-model="settings.custom_namespaces" ng-change="saveSetting('custom_namespaces', settings.custom_namespaces)">
            <p> Separate with a dot.  </p>
          </label>
        </div>
        <div ng-hide="settings.username">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Default keyword</span>
            <input type="text" ng-model="settings.default_keyword" ng-change="saveSetting('default_keyword', settings.default_keyword)">
          </label>
        </div>
    </ion-list>
  </ion-content>
</ion-view>



